# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Результаты сборки (игнорируем только мусор, Release оставляем)
[Dd]ebug/
obj/
*.pdb
*.ilk
*.exp
*.lib
*.iobj
*.ipdb

# NuGet
packages/
*.nupkg
*.snupkg

# Системные файлы
.DS_Store
Thumbs.db
desktop.ini
*.log
*.tmp